.tab-content .nav-pills .nav-link {
  transition: background-color 0.3s, color 0.3s;
}

.tab-content .nav-pills .nav-link:hover {
  color: #fff;
  border-radius: 0.25rem;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

a {
  text-decoration: none;
}
/* .py-5{
  background-image: url(../assets/images/acon.png);
} */